{% extends 'base.html' %}
{% block title %}User Settings{% endblock %}

{% block flashes %}
    {% from "_form_helpers.html" import flash_errors %}
    {{ flash_errors(password_form) }}
{% endblock flashes %}

{% block content %}
User Settings 
<hr>
<div class="forgot center">
    Here you can do various things such as <br>
    change your password and set your attributes
</div>
<br>
<div class="login links" style="text-align: center;">
    <a href="{{ url_for('profile') }}">
        <span class="inactive">Attributes</span>
    </a>
    &nbsp;&nbsp;&nbsp;
    <span class="active">Password</span>
</div>
<br>
<div class="center_element center">
    <h2>Change Password</h2>
    <form method="POST" action=''>
        <dl>
            {{ password_form.hidden_tag() }}
            <div class="standalone_input_box text_input center_element">
                <input class="standalone_input_box" type="password" name="current_password" placeholder="Current Password"/>
            </div>
            <div class="standalone_input_box text_input center_element">
                <input class="standalone_input_box" type="password" name="new_password" placeholder="New Password"/>
            </div>
            <div class="standalone_input_box text_input center_element">
                <input class="standalone_input_box" type="password" name="confirm_password" placeholder="Confirm Password"/>
            </div>
            <div class="submit_input center_element">
                <input type="submit" name="login" value="Change Password"/>
            </div>
        </dl>
    </form>
</div>
{% endblock %}
{% block java_script %}
requirejs(['jquery', 'jquery-ui'], function() {
    $(function() {
        $( ".datepicker" ).datepicker({
            dateFormat: "yy-mm-dd"
        });
    });
});
{% endblock %}
