{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block flashes %}
    {% from "_form_helpers.html" import flash_errors %}
    {{ flash_errors(change_password_form) }}
{% endblock flashes %}

{% block content %}
    <div class="page-header">
        <h1>Change Password</h1>
    </div>

    {% from "_form_helpers.html" import render_field %}

    <form method=post action=''>
        <dl>
            {{ change_password_form.hidden_tag() }}
            {% for field in change_password_form %}
                {{ render_field(field) }}
            {% endfor %}
        </dl>
        {% block form_area %}{% endblock %}
    </form>
{% endblock %}
