{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block flashes %}
    {% from "_form_helpers.html" import flash_errors %}
    {{ flash_errors(reset_password_form) }}
{% endblock flashes %}

{% block content %}
<div class="login center center_element">
    <form method=post action=''>
        <dl>
            {{ reset_password_form.hidden_tag() }}
            <div class="forgot">
                Reset Password
            </div>
            <hr>
            <div class="bottom_input_box text_input center_element">
                <input class="bottom_input_box" type="password" name="password" placeholder="Password"/>
            </div>
            <br>
            <div class="bottom_input_box text_input center_element">
                <input class="bottom_input_box" type="password" name="password_confirm" placeholder="Confirm Password"/>
            </div>
            <br>

            <div class="submit_input center_element">
                <input type="submit" name="change" value="SUBMIT"/>
            </div>
            <br>
        </dl>
        {% block form_area %}{% endblock %}
    </form>
</div>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
